<footer>
    <div class="footer-content">
      <div class="social-icons">
        <a  href="https://twitter.com/phdassistance" target="_blank"><i class="fab fa-twitter"></i></a>
        <!-- <p><b>Twitter:</b> <a>@phdassistance</a></p> -->
        <a href="mailto:contact@phdassistance.com"><i class="fas fa-envelope"></i></a>
        <!-- <p><b>Instagram:</b> <a >@phdassistance</a></p> -->
        <a href="https://instagram.com/phdassistance" target="_blank"><i class="fab fa-instagram"></i></a>
      </div>

      <div class="footer-links">
        <a href="/contact">Contact</a>
        <a href="/privacy">Privacy Policy</a>
        <a href="/terms">Terms of Use</a>
      </div>

      <p>&copy; 2025 PhD Assistance. All rights reserved.</p>
    </div>
  </footer>