 <!-- <% layout("/layouts/boilerplate.ejs")%> -->
<% layout("/layouts/boilerplate.ejs") %>
<main class="pt-3 mt-3"> 
<div class="container mt-4 mb-4">
  <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 g-4 offset-1.5 ">

    <!-- France -->
    <div class="col">
      <a href="/country/france">
        <div class="card image-country h-100 ">
          <img src="/images_countries/FRANCE.jpg" class="card-img-top rounded mx-auto d-block" alt="France">
          <div class="card-body">
            <h5 class="card-title">France</h5>
          </div>
        </div>
      </a>
    </div>
    <!-- <div class="card image-country">
  <div class="card-img-fixed" style="background-image: url"></div>
  <div class="card-body">
    <h5 class="card-title">France</h5>
  </div>
</div> -->

    <!-- Germany -->
    <div class="col">
      <a href="/country/germany">
        <div class="card image-country h-100">
          <img src="/images_countries/germanyjpg.jpg" class="card-img-top" alt="Germany">
          <div class="card-body">
            <h5 class="card-title">Germany</h5>
          </div>
        </div>
      </a>
    </div>

    <!-- Ireland -->
    <div class="col">
      <a href="/country/ireland">
        <div class="card image-country h-100">
          <img src="/images_countries/ireland.jpg" class="card-img-top" alt="Ireland">
          <div class="card-body">
            <h5 class="card-title">Ireland</h5>
          </div>
        </div>
      </a>
    </div>

    <!-- USA -->
    <div class="col">
      <a href="/country/usa">
        <div class="card image-country h-100">
          <img src="/images_countries/usa.jpg" class="card-img-top" alt="USA">
          <div class="card-body">
            <h5 class="card-title">USA</h5>
          </div>
        </div>
      </a>
    </div>

    <!-- UK -->
    <div class="col">
      <a href="/country/uk">
        <div class="card image-country h-100">
          <img src="/images_countries/LONDON UK.jpg" class="card-img-top" alt="UK">
          <div class="card-body">
            <h5 class="card-title">UK</h5>
          </div>
        </div>
      </a>
    </div>

    <!-- Australia -->
    <div class="col">
      <a href="/country/australia">
        <div class="card image-country h-100">
          <img src="/images_countries/australia.jpg" class="card-img-top" alt="Australia">
          <div class="card-body">
            <h5 class="card-title">Australia</h5>
          </div>
        </div>
      </a>
    </div>

    <!-- Canada -->
    <div class="col">
      <a href="/country/canada">
        <div class="card image-country h-100">
          <img src="/images_countries/canada.jpg" class="card-img-top" alt="Canada">
          <div class="card-body">
            <h5 class="card-title">Canada</h5>
          </div>
        </div>
      </a>
    </div>

    <!-- New Zealand -->
    <div class="col">
      <a href="/country/newzealand">
        <div class="card image-country h-100">
          <img src="/images_countries/newzealandjpg.jpg" class="card-img-top" alt="New Zealand">
          <div class="card-body">
            <h5 class="card-title">New Zealand</h5>
          </div>
        </div>
      </a>
    </div>

  </div>
</div>
</main>
